{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/contacts.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>
<body>
    <div class="contacts-wrapper">
        <div class="map-container">
            <div id="yandex-map" class="yandex-map" style="width: 100%; height: 400px;"></div>
        </div>
        <div class="contact-info">
            <div class="info-block">
                <h3 class="info-title">Адрес</h3>
                <p class="info-text">
                    г. Щёлково-3, <br>
                    ул. Радиоцентра № 5, 16, микрорайон Щёлково-3
                </p>
            </div>

            <div class="info-block">
                <h3 class="info-title">Часы работы</h3>
                <p class="info-text">Пн-Вс: 10:00 - 19:00</p>
            </div>

            <div class="info-block">
                <h3 class="info-title">Как добраться</h3>
                <p class="info-text">
                    🚇 Станция электричек: «Чкаловская»<br>
                    🚌 Автобусы: 1, 50, 378, 321, 371, 26...<br>
                    🅿️ Парковка у офиса
                </p>
            </div>

            <div class="info-block">
                <h3 class="info-title">Контакты</h3>
                <p class="info-text">
                    📞 +7 (926) 464-89-34<br>
                    📞 +7 (903) 163-02-98<br>
                    ✉️ Panmayak2020@yandex.ru
                </p>
            </div>
        </div>
    </div>
<script src="{% static 'js/contacts.js' %}"></script>
</body>
