{% extends "base/base.html" %}

{% block content %}
<h1 class="mb-4">Наши объекты</h1>

<div class="row">
    {% for property in properties %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <!-- Используем только main_photo -->
            <img src="{{ property.main_photo.url }}" class="card-img-top" alt="{{ property.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ property.title }}</h5>
                <p class="text-success fw-bold">{{ property.price }} ₽</p>
                <p>{{ property.address }}, {{ property.city }}</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'property_detail' property.id %}" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}