{% extends 'base/base.html' %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Заявка обрабатывается{% endblock %}</title>
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/feedback_success.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    {% endblock %}
</head>

{% block content %}
<body>
    {% include "base/components/header.html" %}
    <div class="success-block">
        <h1 class="success__title">Спасибо за вашу заявку!</h1>
        <p class="success__text">Мы свяжемся с вами в ближайшее время</p>
    </div>
    <section class="contacts-section">
        <div class="container">
            <p class="office-title">Если Вас интересует очная встреча - приезжайте к нам в офис!</p>
            {% include 'base/components/contacts.html' %}
        </div>
    </section>
</body>
{% endblock %}