{% extends 'base/base.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Аренда жилья | МАЯК{% endblock %}</title>
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/arenda.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    {% endblock %}
</head>
{% block content %}
<body>
    <section class="info-page">
        <div class="arenda__present">
            <h1>АРЕНДА ЖИЛЬЯ</h1>
            <p>Беслатно поможем сдать вашу квартиру!</p>
            <p class="arenda__main-text">Наши Агенты предоставим услуги по сопровождению сделки аренды жилья. Подборка наших экспертов помогут арендодателям арендовать жильё, а арендаторам найти подходящий вариант жилья или квартиры, обеспечив комфорт и безопасность их общения</p>
        </div> 
        <img src="{% static 'img/arenda-img.png' %}" alt="Аренда">
    </section>
    <section class="how-we-work">
        <h2>Как мы работаем</h2>
        <div class="steps">
            <div class="step">
                <p class="step__num">
                    1
                </p>
                <h3>Оценим вашу квартиру и расскажем, как сделать её быстрее и выгоднее</h3>
                <p class="step__text">Позвоните или приходите в наш офис, назовите адрес и мы расскажем о стоимости аренды квартиры, информацию о сдачных вариантах рядом и условиях аренды.</p>
            </div>
            <div class="step">
                <p class="step__num">
                    2
                </p>
                <h3>Сделаем фото</h3>
                <p class="step__text">Поможем с описанием, разместим объявление в день встречи и будем продвигать его на известных площадках.</p>
            </div>
            <div class="step">
                <p class="step__num">
                    3
                </p>
                <h3>Проведём показы</h3>
                <p class="step__text">Сами с вами или с семьёй, ответим на все вопросы. Уточним пожелания жильцов и сроки их проживания. Мы найдем арендаторов на основании ваших требований.</p>
            </div>
            <div class="step">
                <p class="step__num">
                    4
                </p>
                <h3>Проверим арендаторов</h3>
                <p class="step__text">Мы проверим потенциальных арендаторов на предмет отсутствия задолженностей по кредитам, отсутствие в базах ФССП и МВД России, информацию по своим источникам.</p>
            </div>
            <div class="step">
                <p class="step__num">
                    5
                </p>
                <h3>Составим договор</h3>
                <p class="step__text">Договор аренды/найма подготовлен нашими юристами и содержит все существенные условия. В нем указываются:</p>
                <ul class="arenda__list">
                    <li>Срок аренды</li>
                    <li>Размер арендной платы и порядок расчётов</li>
                    <li>Порядок оплаты коммунальных платежей</li>
                    <li>Права и обязанности сторон</li>
                    <li>Порядок сдачи и приёма квартиры</li>
                </ul>
                <p class="step__text">Обязательные дополнения к договору:</p>
                <ul class="arenda__list">
                    <li>Акт передачи квартиры</li>
                    <li>Описание имущества</li>
                </ul>
                <p class="step__text">Договор помогает защитить интересы обеих сторон. Он адаптирован под требования современного законодательства, понятен языком, но имеет перегруженных формулировок и непонятных условий.</p>
            </div>
            <div class="step">
                <p class="step__num">
                    6
                </p>
                <h3>Видеосъемка в день передачи квартиры</h3>
                <p class="step__text">Закрепим состояние квартиры, мебели, техники. Это поможет предотвратить споры арендаторов в случае исчезновения ущерба имуществу.</p>
            </div>
            <div class="step">
                <h3>Мы рядом после заселения арендаторов!</h3>
                <p class="step__text">Будем сами общаться с жильцами. Поможем в решении бытовых вопросов и начнём поиск нового жильца, как только узнаем о съезде текущего</p>
            </div>
        </div>
    </section>
    <p class="arenda__footer-text">Сдавайте квартиру без лишних забот! <br>Вы получаете арендную плату вовремя, а мы поможем — на всех этапах. Полный цикл, включая поддержку и для Вас это бесплатно!</p>
    <script src="{% static 'js/header.js' %}"></script>
</body>
{% endblock %}