{% extends 'base/base.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ипотека | МАЯК{% endblock %}</title>
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/ipoteka.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    {% endblock %}
</head>
{% block content %}
<body>
    <section class="info-page">
        <div class="ipoteka__present">
            <h1>ИПОТЕКА</h1>
            <p>Мы специализируемся на оптимальном подборе ипотечных программ и эффективном содействии в получении кредитов</p>
            <p class="ipoteka__main-text">Сокращаем время и процент отказов по кредитам Исключаем сопутствующие расходы по сделкеМы специализируемся на оптимальном подборе ипотечных программ и эффективном содействии в получении кредитов</p>
        </div> 
        <img src="{% static 'img/ipoteka-img.png' %}" alt="Ипотека">
    </section>
    <hr>
    <section class="mortgage-page">
        <div class="container">
            <h1 class="page-title">Ипотека с нашим агентством</h1>
            <div class="intro-section">
                <div class="text-block">
                    <p>Многие, желая приобрести квартиру в ипотеку, идут напрямую в банк. У всех разная осведомленность о том, как происходит процесс оформления ипотечного кредита, и, к сожалению, очень часто покупатели не знают нюансов, которые могут облегчить всю волокиту с документами.</p>
                    <p>Постоянное взаимодействие с банками позволяет нашему агентству заранее узнавать о готовящихся акциях, специальных программах и др.Так наш клиент получает все самые эксклюзивные предложения, которые самостоятельно довольно трудно отследить.</p>
                    <p>Очень важно, что если через какое-то время ипотечная ставка по действующему кредиту снижается, то агентство помогает провести рефинансирование.</p>
                </div>
            </div>
            <div class="work-process">
                <h2>Как мы работаем</h2>
                <p class="subtitle">Мы с вами на каждом этапе!</p>
                <div class="process-steps">
                    <div class="step">
                        <p class="step__num">1</p>
                        <p>Помогаем собрать весь пакет необходимых документов</p>
                    </div>
                    <div class="step">
                        <p class="step__num">2</p>
                        <p>С вами заполняем анкету</p>
                    </div>
                    <div class="step">
                        <p class="step__num">3</p>
                        <p>Подаём заявку сразу в несколько банков и полностью контролируем процесс их рассмотрения</p>
                    </div>
                    <div class="step">
                        <p class="step__num">4</p>
                        <p>Собираем необходимые документы по объекту</p>
                    </div>
                    <div class="step">
                        <p class="step__num">5</p>
                        <p>Направляем на одобрение</p>
                    </div>
                    <div class="step">
                        <p class="step__num">6</p>
                        <p>Подбираем страховую компанию</p>
                    </div>
                    <div class="step">
                        <p class="step__num">7</p>
                        <p>Согласовываем договор купли-продажи и выходим на сделку</p>
                    </div>
                </div>
            </div>
            
            <div class="additional-service">
                <h2>Дополнительно для каждого клиента</h2>
                <div class="service-details">
                    <p>Наше агентство проводит полноценную проверку документации по объекту и собственнику</p>
                    <p>Выясняем всю историю объекта и выдаем правовое заключение – полный пакет Добросовестного покупателя. После этого можно быть уверенным, что квартира юридически «чиста»</p>
                </div>
            </div>
        </div>
    </section>
    <p class="ipoteka__footer-text">Основные преимущества в получении ипотеки с помощью нашего агентства недвижимости – <br> это комплексный подход, юридическая надежность и более выгодные условия кредитования <br>Все больше клиентов доверяют нам помочь им в оформлении ипотеки</p>
    <script src="{% static 'js/header.js' %}"></script>
</body>
{% endblock %}