{% extends 'base/base.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Первичный рынок | МАЯК{% endblock %}</title>
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/primary.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    {% endblock %}
</head>
{% block content %}
<body>
    <section class="info-page">
        <div class="support__present">
            <h1>ПЕРВИЧНЫЙ РЫНОК НЕДВИЖИМОСТИ</h1>
            <p>Услуги наших экспертов по полному сопровождению бесплатны для покупателя!</p>
            <p class="primary__main-text">Квартиры в жилых комплексах Москвы, Московской области  и по всей России по ценам и условиям застройщика</p>
        </div> 
        <img src="{% static 'img/primary-img.png' %}" alt="Первичный рынок">
    </section>
    <p class="primary__extra-text">Работа наших специалистов направлена на устранение всех возможных рисков, начиная от несоблюдения договорных условий и заканчивая банкротством застройщика <br> Специалисты комплексно подходят к решению любого вопроса, позволяя нашим клиентам экономить свое время, деньги и нервы на поиск объекта и оформление документов</p>

    <section class="services-section">
        <h2 class="services-title">КВАРТИРЫ ЭКОНОМ- КОМФОРТ- БИЗНЕС- ПРЕМИУМ КЛАССА</h2>
        <ul class="services-list">
            <li>Эконом класс - минимальные метражи и цены, хорошая транспортная доступность и инфраструктура. Всегда сохраняется возможность во время строительства дома поменять выбор в пользу квартиры большего метража</li>
            <li>Для семей с детьми мы можем предложить квартиры в комплексах с закрытой территорией, охраняемой парковкой, детскими садами и спортивными площадками</li>
            <li>Для самой взыскательной публики: малоэтажное строительство, закрытые жилые комплексы клубного типа и квартиры с уникальными видовыми характеристиками. Можно выбрать расположение как в центре города, так и на окраине</li>
        </ul>
    </section>
    <hr>
    <section class="services-section">
        <h2 class="services-title">КВАРТИРЫ С ОТДЕЛКОЙ И БЕЗ НЕЁ</h2>
        <ul class="services-list">
            <li>Квартиры без отделки: установлена входная дверь, пластиковые окна и остекление лоджий. Возможно отсутствие межкомнатных перегородок. Разводка канализации и водопровода осуществляется без сантехнического оборудования. Все трубы закрыты заглушками. Электричество проведено до поэтажного щита</li>
            <li>В квартирах с подготовкой под отделку: проведено холодное и горячее водоснабжение, сделана электропроводка. Предусмотрены выключатели и розетки. Выровнены стены, пол и потолок. Работает отопление и канализация, но без установки сантехнического оборудования</li>
            <li>Готовые квартиры в новостройках с отделкой отличаются тем, что покупатель сразу может въезжать и жить. Установлена сантехника. В санузлах положена плитка. Стены покрыты обоями. Есть возможность заранее заказать мебель</li>
        </ul>
    </section>
    <section class="free-services">
        <div class="container">
            <div class="free-service-item">
                <p class="free-service-text">Ипотека — наша компания работает со многими банками и подберет Вам лучшую кредитную программу</p>
                <p class="free-service-text">В рассрочку — выгодная альтернатива ипотеке, так как для оформления рассрочки не требуется никаких документов, только Ваше желание. Рассрочка бывает процентной и беспроцентной</p>
                <p class="free-service-text">При 100% оплате вы получаете самые выгодные скидки</p>
            </div>
        </div>
    </section>
</body>
{% endblock %}