{% extends 'base/base.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}МЕЖРЕГИОНАЛЬНЫЕ СДЕЛКИ | МАЯК{% endblock %}</title>
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/regional.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    {% endblock %}
</head>
{% block content %}
<body>
    <section class="info-page">
        <div>
            <h1>МЕЖРЕГИОНАЛЬНЫЕ СДЕЛКИ</h1>
            <p>Услуга «Межрегиональная сделка предоставляет возможность продавцу и покупателю из разных городов провести сделку с недвижимостью удаленно <br>При этом весь процесс контролируется высококвалифицированными специалистами нашего агентства. Мы с вами на каждом этапе подготовки и проведении такой сделки, чтобы она прошла спокойно и безопасно!</p> 
            <p class="regional__main-text">Есть несколько вариантов провести такую сделку и мы поможем выбрать наиболее комфортный для вас способ</p>
        </div> 
        <img src="{% static 'img/regional-img.png' %}" alt="Межрег. сделки">
    </section>
    <section class="services-section">
        <h2 class="services-title">Наши услуги</h2>
        
        <ul class="services-list">
            <li>Бесплатная консультация по рынку недвижимости как Московского, так и любого другого региона России</li>
            <li>Определяемся с порядком проведения межрегиональной/дистанционной сделки</li>
            <li>Подбор объекта</li>
            <li>Подготовка к сделке (сбор, проверка документов, юридическое заключение, предварительный договор)</li>
            <li>Согласование договора купли-продажи между сторонами</li>
            <li>Запись на сделку</li>
            <li>Контроль за ходом сделки</li>
            <li>Оформление кредита (при покупке с ипотекой)</li>
        </ul>
    </section>
{% endblock %}