{% extends 'base/base.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Вторичный рынок | МАЯК{% endblock %}</title>
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/secondary.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    {% endblock %}
</head>
{% block content %}
<body>
<section class="info-page">
    <div class="support__present">
        <h1>ВТОРИЧНЫЙ РЫНОК ЖИЛЬЯ</h1>
        <p class="arenda__main-text">Наше агентство предлагает профессиональные услуги на вторичном рынке жилья. Команда опытных специалистов поможет вам с продажей или покупкой недвижимости, учитывая все нюансы и особенности каждого объекта. Мы гарантируем индивидуальный подход и разработаем оптимальную стратегию, чтобы сделать процесс максимально комфортным и эффективным для вас</p>
        <a class="support__links" href="#secondary-buy">Покупателю</a>
        <a class="support__links" href="#secondary-sell" id="secondary-buy">Продавцу</a>
    </div> 
    <img src="{% static 'img/secondary-img.png' %}" alt="Вторичный рынок">
</section>
<section class="services-section">
    <h2 class="services-title">ПОКУПАТЕЛЮ<br>Покупка квартиры (комнаты, доли)</h2>
    <p class="services-text">Услуги по покупке через наше агентство недвижимости включает в себя следующее:</p>
    <ul class="services-list">
        <li class="services-item">Обсуждение задачи клиента и способа ее эффективного решения, помощь с ипотекой/маткапиталом/субсидиями</li>
        <li class="services-item">Поиск предложений с нужными критериями</li>
        <li class="services-item">Выезды на просмотры всех подходящих вариантов, экспертное консультирование</li>
        <li class="services-item">Проведение переговоров по снижению цены интересующих объектов</li>
        <li class="services-item">Согласование условий с продавцом выбранного объекта, внесение предоплаты</li>
        <li class="services-item">Проверка правоустанавливающих документов и собственника, оценка рисков, подготовка отчета о юридической чистоте</li>
        <li class="services-item">Подготовка и проведение сделки, контроль безопасных расчетов, регистрация в Росреестре</li>
        <li class="services-item">Получение документов с регистрации, прием квартиры по акту приема-передачи, оформление закрывающих документов</li>
    </ul>
</section>
<section class="secondary__extra">
    <div class="container">
        
        <div class="extra-item">
            <h3>К нам часто обращаются с задачами:</h3>
            <p class="extra-text">Подобрать квартиру для собственного проживания</p>
            <p class="extra-text">Вложить деньги в недвижимость с целью сохранения и приумножения</p>
            <p class="extra-text" id="secondary-sell">Организовать дистанционную покупку</p>
        </div>
    </div>
</section>
<hr>
<section class="services-section">
    <h2 class="services-title">ПРОДАВЦУ<br>Продажа квартиры (комнаты, доли)</h2>
    <p class="services-text">При продаже объекта недвижимости часто собственники имеют опасения, и это нормально. Наша работа как раз и состоит в том, чтобы быть надежным помощником при продаже вашей недвижимости и вселять в вас уверенность. Мы сделаем все, чтобы сделка проходила спокойно и главное-безопасно!</p>
    <ul class="services-list">
        <li class="services-item">Определение конечной цели клиента и оптимального способа ее достижения</li>
        <li class="services-item">Оценка объекта недвижимости на основе анализа конкурентных предложений и истории продаж в данной локации</li>
        <li class="services-item">Рекомендации по предпродажной подготовке квартиры, профессиональная фотосессия и видеообзор</li>
        <li class="services-item">Эффективная рекламная кампания</li>
        <li class="services-item">Общение по телефону с потенциальными покупателями</li>
        <li class="services-item">Оперативные показы объекта</li>
        <li class="services-item">Получение обратной связи после показов и информирование собственника</li>
        <li class="services-item">Подготовка всех необходимых документов</li>
        <li class="services-item">Заключение предварительного договора (договора задатка,  бронирования) с найденным покупателем и получение предоплаты</li>
        <li class="services-item">При необходимости помощь покупателю (ипотека, субсидии)</li>
        <li class="services-item">Помощь и консультации при сборе необходимых документов</li>
        <li class="services-item">Подготовка и согласование договора купли-продажи и порядка взаиморасчетов, сроков передачи квартиры и др.</li>
        <li class="services-item">Подготовку, согласование и проведение сделки, контроль взаиморасчетов</li>
        <li class="services-item">Передача квартиры по передаточному акту</li>
    </ul>
</section>
<p class="extra-item-text">Если после продажи квартиры вы планируете приобретение другой, то мы делаем значительную скидку на услуги по покупке!</p>
<section class="secondary__extra">
    <div class="container">
        <div class="extra-item">
            <h3>Мы  легко справляемся с разными задачами:</h3>
            <p class="extra-text">Продажа из-под залога (ипотеки) или с другими обременениями</p>
            <p class="extra-text">Работа с дистанционными клиентами</p>
            <p class="extra-text">Решение вопросов с опекой, когда есть дети-собственники</p>
        </div>
    </div>
</section>
<section class="support__container">
    <div class="container">
        <img class="stripes" src="{% static 'img/stripes.svg' %}" alt="stripes">
        <div class="content">
            <h2>Сопровождение сделки это</h2>
            <div class="card">
                <div class="card-header">Экспертиза документов на предмет соответствия и проверка юридической чистоты сделки</div>
                <div class="card-body">
                    <p>Отсутствие обременений, скрытых собственников, нарушения прав несовершеннолетних, несоблюдение семейного законодательства, ограничений, арестов, банкротства, судебных споров и многое другое, в зависимости от правоустанавливающих документов на объект</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Проведение переговоров</div>
                <div class="card-body">
                    <p>Согласование условий сделки со всеми участниками, юридические консультации по текущим вопросам (предварительный договор)</p>
                </div>
            </div>
            
            <div class="card">
                <div class="card-header">Подготовка документов</div>
                <div class="card-body">
                    <p>Сбор и анализ документов, необходимых для проведения сделок с недвижимостью для подачи в Росреестр</p>
                </div>
            </div>
            
            <div class="card">
                <div class="card-header">Организационные вопросы</div>
                <div class="card-body">
                    <p>Определение порядка взаиморасчетов, передачи документов, предмета договора, срока передачи объекта и подписания акта приема передачи</p>
                </div>
            </div>
            
            <div class="card">
                <div class="card-header">Одобрение ипотеки</div>
            </div>
            
            <div class="card">
                <div class="card-header">Согласование с органами опеки</div>
            </div>
            
            <div class="card">
                <div class="card-header">Правовое заключение</div>
            </div>
            
            <div class="card">
                <div class="card-header">Организация безопасных взаиморасчетов с банком</div>
                <div class="card-body">
                    <p>Аккредитив, СБР, депозит нотариуса</p>
                </div>
            </div>
            
            <div class="card">
                <div class="card-header">Передача объекта по подписываемому сторонами Передаточному акту</div>
            </div>
        </div>
    </div>
</section>
<p class="extra-item-text">Если рассказывать обо всех тонкостях каждого этапа покупки квартиры, получится увесистый том. Но уже  к заключительному этапу, вы в полной мере убедитесь в профессионализме вашего агента по недвижимости, вы будете спокойны и уверены, ведь всю рутину мы берем на себя!</p>
{% endblock %}