{% extends 'base/base.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ЗАГОРОДНАЯ НЕДВИЖИМОСТЬ  | МАЯК{% endblock %}</title>
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/suburban.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    {% endblock %}
</head>
{% block content %}
<body>
<section class="info-page">
    <div class="support__present">
        <h1>ЗАГОРОДНАЯ НЕДВИЖИМОСТЬ</h1>
        <p class="suburban__main-text">Наше агентство предлагает профессиональные услуги на вторичном рынке жилья. Команда опытных специалистов поможет вам с продажей или покупкой недвижимости, учитывая все нюансы и особенности каждого объекта. Мы гарантируем индивидуальный подход и разработаем оптимальную стратегию, чтобы сделать процесс максимально комфортным и эффективным для вас</p>
        <a class="support__links" href="#suburban-buy">Покупателю</a>
        <a class="support__links" href="#suburban-sell">Продавцу</a>
    </div> 
    <img src="{% static 'img/suburban-img.png' %}" alt="Загородная недвижимость">
</section>
<hr>
<section class="support__container">
    <div class="container">
        <img class="stripes" src="{% static 'img/stripes-mini.svg' %}" alt="stripes">
        <div class="content">
            <p>Основная задача эксперта провести сделку таким образом, чтобы при обязательном соблюдении интересов продавца и покупателя не нарушить юридических аспектов ведения и заключения сделки. Сегодня для этого необходимо оформить большой пакет документов и затратить много времени и сил. Часто продавец и покупатель имеет слабое представление, что такое кадастровый учет и межевание, что такое исполнительная съемка и инвентаризация, категория земли, разрешенное использование, ГПЗУ, ОКС и очень много, что непосредственно относится к загородной недвижимости!</p>
            <p id="suburban-buy">Подготовку всех этих документов и работу с инстанциями берут на себя эксперты нашего агентства. Они проведут экспертизу всех имеющихся у продавца документов, проверят правомочность предыдущих владельцев, полностью подготовят весь пакет, сопроводят клиента при нотариальном переходе прав, отследят регистрацию прав на покупателя и получение денег продавцом</p>      
        </div>    
    </div>
</section>
<hr>
<section class="services-section">
    <h2 class="services-title">ПОКУПАТЕЛЮ</h2>
    <ul class="services-list">
        <li>Быстрый и квалифицированный поиск требуемого объекта в соответствии с Вашими требованиями</li>
        <li>Предварительная оценка выбранных вами объектов</li>
        <li>Организация и просмотр объектов в сопровождении нашего эксперта</li>
        <li>Бесплатные консультации экспертов загородной недвижимости</li>
        <li>Юридическая экспертиза чистоты всех правоустанавливающих документов на интересующую Вас недвижимость (соответствие, ограничения, обременения и пр.)</li>
        <li>Предоставление правовой (юридической) экспертизы объекта  и собственника</li>
        <li>Проведение переговоров с Продавцом (его представителем), согласование и подписание предварительного договора о порядке проведения сделки и внесение предоплаты</li>
        <li>Подготовка договора купли-продажи</li>
        <li>Организация безопасных взаиморасчетов</li>
        <li>Организация передачи объекта недвижимости по подписываемому сторонами передаточному акту</li>
        <li id="suburban-sell">Страхование собственности</li>
    </ul>
</section>
<section class="services-section">
    <h2 class="services-title">ПРОДАВЦУ</h2>
    <p class="services-text">Мы поможем Вам продать объект загородной недвижимости по наиболее выгодной цене и с наименьшими затратами времени, предоставив целый комплекс услуг</p>
    <ul class="services-list">
        <li>Оценка Вашего объекта недвижимости с использованием  современных методов маркетинга</li>
        <li>Анализ имеющихся правоустанавливающих, технических  документов, необходимых для продажи дома и/или участка на предмет их соответствия и комплектности</li>
        <li>Решение юридических вопросов в области жилищного, семейного, наследственного права и налогового законодательства</li>
        <li>Организация мероприятий, необходимых  для оформления межевого дела (при необходимости)</li>
        <li>Планирование и проведение рекламной кампании Вашего объекта недвижимости – фото и видеосъемка</li>
        <li>Организация просмотров потенциальными покупателями объекта недвижимости в согласованные со всеми участниками просмотров сроки</li>
        <li>Проведение переговоров с покупателем (его представителем), согласование и подписание предварительного договора  о порядке проведения предстоящей сделки</li>
        <li>Организация безопасных взаиморасчетов</li>
        <li>Организация передачи объекта недвижимости покупателю</li>
    </ul>
</section>
<hr>
{% endblock %}