{% extends 'base/base.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ЮРИДИЧЕСКОЕ СОПРОВОЖДЕНИЕ СДЕЛОК | МАЯК{% endblock %}</title>
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/support.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    {% endblock %}
</head>
{% block content %}
<body>
    <section class="info-page">
        <div class="support__present">
            <h1>ЮРИДИЧЕСКОЕ СОПРОВОЖДЕНИЕ СДЕЛОК</h1>
            <p class="arenda__main-text">Наше Агентство  оказывает услуги по сопровождению сделок с недвижимостью. Помощь наших экспертов позволяет снизить риски, которые возникают при покупке или продаже любого объекта недвижимости.</p>
            <a class="support__links" href="#support-full">Полное сопровождение сделки</a>
            <a class="support__links" href="#support-half">Частичное сопровождение сделки</a>
        </div> 
        <img src="{% static 'img/support-img.png' %}" alt="Сопровождение">
    </section>
    <p class="support__extra-text">Мы обеспечиваем Вам и партнеру абсолютно безопасную сделку!</p>
    <section class="support__container">
        <div class="container">
            <img class="stripes" src="{% static 'img/stripes.svg' %}" alt="stripes">
            <div class="content">
                <h2>Сопровождение сделки это</h2>
                <div class="card">
                    <div class="card-header">Экспертиза документов на предмет соответствия и проверка юридической чистоты сделки</div>
                    <div class="card-body">
                        <p>Отсутствие обременений, скрытых собственников, нарушения прав несовершеннолетних, несоблюдение семейного законодательства, ограничений, арестов, банкротства, судебных споров и многое другое, в зависимости от правоустанавливающих документов на объект</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">Проведение переговоров</div>
                    <div class="card-body">
                        <p>Согласование условий сделки со всеми участниками, юридические консультации по текущим вопросам (предварительный договор)</p>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-header">Подготовка документов</div>
                    <div class="card-body">
                        <p>Сбор и анализ документов, необходимых для проведения сделок с недвижимостью для подачи в Росреестр</p>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-header">Организационные вопросы</div>
                    <div class="card-body">
                        <p>Определение порядка взаиморасчетов, передачи документов, предмета договора, срока передачи объекта и подписания акта приема передачи</p>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-header">Одобрение ипотеки</div>
                </div>
                
                <div class="card">
                    <div class="card-header">Согласование с органами опеки</div>
                </div>
                
                <div class="card">
                    <div class="card-header">Правовое заключение</div>
                </div>
                
                <div class="card">
                    <div class="card-header">Организация безопасных взаиморасчетов с банком</div>
                    <div class="card-body">
                        <p>Аккредитив, СБР, депозит нотариуса</p>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-header">Передача объекта по подписываемому сторонами Передаточному акту</div>
                </div>
            </div>
        </div>
    </section>
    <p class="support__extra-text" id="support-full">Юридическое сопровождение сделок с недвижимостью может быть оказано в варианте, который вы выбираете сами. Благодаря такому разделению, клиент платит только за те услуги, которые нужны в конкретной ситуации</p>
    <section class="services-section">
        <h2 class="services-title">Полное сопровождение сделки</h2>
        <p class="services-text">Предполагается тщательный контроль каждого этапа, начиная от намерения приобрести или продать объект недвижимости, поиска подходящего объекта недвижимости, до момента передачи денежных средств продавцу и ключей покупателю</p>
        <ul class="services-list">
            <li>Поиск покупателя или квартиры (проведение рекламной компании)</li>
            <li>Организуем и проведем переговоры/просмотры недвижимости</li>
            <li>Подготовим и согласуем со второй стороной предварительный договор</li>
            <li>Проверим и соберем все документы</li>
            <li>Подготовим и юридически оформим договора купли-продажи</li>
            <li>При необходимости подберем/одобрим ипотечный кредит (ипотеку)</li>
            <li>Обеспечим безопасность взаиморасчетов</li>
            <li>Проведение завершения сделки</li>
            <li>Подача документов на регистрацию перехода права собственности в Росреестр</li>
            <li>Подготовка и подписание Акта-передачи</li>
            <li>Завершение сделки</li>
        </ul>
        <p class="services-text" id="support-half">Мы пошагово контролируем и обеспечиваем безопасность всех процессов сделки</p>
    </section>
    <hr>
    <section class="services-section">
        <h2 class="services-title">Частичное сопровождение сделки</h2>
        <p class="services-text">В этом случае наши эксперты включаются в процесс на каком-либо его этапе</p>
        <ul class="services-list">
            <li>Организация  переговоров по сделке</li>
            <li>Составление и подписание предварительного договора</li>
            <li>Проверка и сбор всех документов</li>
            <li>Подготовка и согласование договора купли-продажи</li>
            <li>Обеспечение безопасности взаиморасчетов</li>
            <li>Подача документов на регистрацию перехода права собственности в Росреестр</li>
            <li>Подготовка и подписание Акта-передачи</li>
            <li>Проведение завершения сделки</li>
        </ul>
        <p class="services-text">Предполагается тщательный контроль каждого этапа, начиная от намерения приобрести или продать объект недвижимости, поиска подходящего объекта недвижимости, до момента передачи денежных средств продавцу и ключей покупателю</p>
    </section>
    <section class="also-container">
        <div class="also-header">
            <h3>А также</h3>
            <p>Некоторые клиенты обращаются к нам</p>
        </div>
        <ul class="also-list">
            <li>Проверить правоустанавливающие документы</li>
            <li>Составить и скорректировать предварительный или основной договор купли-продажи</li>
            <li>Провести переговоры со второй стороной с целью изменения условий соглашения, рекомендации по безопасным расчетам</li>
            <li>Составить план-схему сделки с подробной описью необходимых документов</li>
            <li>Заказать у нас правовое (юридическое) заключение по объекту и собственнику</li>
        </ul>
    </section>
    <p class="support__extra-text">Сопровождение сделок по купле-продаже недвижимости требует знаний специфики рынка. Большой опыт и высокая компетентность наших специалистов позволяет быстро и эффективно решать самые сложные вопросы, гарантируя открытость и честность</p>
</body>
{% endblock %}